* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  width: 1200px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container input {
  background-color: #eee;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border: 0;
  border-bottom: solid 2px #9b344e;
  padding: 0.4rem 1rem;
}

.header-container #search {
  background-color: green;
  padding: 0.6rem;
  border-radius: 0.5em;

  width: 50px;
  border: none;
  color: #fff;
}

.fav-container {
  margin-top: 1rem;
  padding: 1rem;

  background-color: rgba(233, 199, 255, 0.2);
  width: 1000px;
  max-width: 100%;
}

#list {
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

#list li {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
#list li img {
  border: 2px solid #fff;
  border-radius: 50%;
  object-fit: cover;

  max-width: 120px;
  max-height: 85px;
}

.meal-container {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 1rem;
}
.meal {
  border-radius: 5px;
  background-color: white;

  /* height: 300px;
  max-height: 100%; */
}

.meal-header {
  position: relative;
  text-align: center;

  /* border: 2px solid black; */
}
.meal-header .meal-title {
  position: absolute;
  top: 1rem;
  padding: 0.25rem 0.5rem;
  background-color: yellow;
}

.meal-header img {
  max-width: 100%;
  max-height: 300px;
}

.meal-body {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

.meal-body h4 {
}
